---
const today = new Date();
---

<footer class="flex justify-between items-center">
  <p>&copy; {today.getFullYear()}</p>
  <a href="https://github.com/gnprwx/astro-vagabond-theme" target="_blank" class="font-bold">vagabond</a>
</footer>
