---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import {NAV_LINKS} from '../style';
---

<header class="text-center">
	<nav class="prose-a:decoration-wavy">
		<a href="/">
      <h1 class="text-6xl">{SITE_TITLE}</h1>
    </a>
			<div class={NAV_LINKS}>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
	</nav>
</header>
